name: CI

on: [push, pull_request]

jobs:
  test:
    name: Node.js v${{ matrix.nodejs }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        nodejs: [12.x, 14.x, 16.x, 17.x]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.nodejs }}
        
    - name: Update npm
      run: npm install -g npm@latest

    - name: Install
      run: |
        npm install

    - name: Test
      run: npm run cov
